.footer{
    background-color: black;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
color: #fff;
font-size: 10px;
}
.footer:hover span{
    color: var(--Primary);
}
.footer a{
    margin: 0 4px;
    transition: 0.2s all ease-in-out;
}
.footer span{
    margin: 0 4px;
    transition: 0.2s all ease-in-out;
}
.footer:hover a{
    color: var(--Primary);
}
