:root {
  --Primary: #891835;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.default {
  background: rgb(2, 0, 36);
  background: linear-gradient(12deg, rgba(2, 0, 36, 1) 0%, rgb(43, 6, 15) 26%);
  /* color: #ff0101; */
  transition: 2s all ease-in-out;
}
.dark {
  background-color: #111;
  color: #bbb;
  transition: 2s all ease-in-out;
}
.theme{
  transition: 2s all ease-in-out;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(12deg, rgba(2, 0, 36, 1) 0%, rgb(43, 6, 15) 26%); */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2, 0, 36);
  background: linear-gradient(12deg, rgba(2, 0, 36, 1) 0%, rgb(43, 6, 15) 26%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Primary);
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}