.sidemain {
    width: 80vw;
    height: 80vh;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    scroll-behavior: smooth;
    overflow: auto;
}

.formmain {
    display: flex;
    /* width: 44vw; */
    flex-direction: column;
    /* padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05); */
    transition: 0.2s all ease-in-out;
    border-radius: 1rem;
}

.formmain input {
    padding: 12px;
    border-radius: 0.7rem;
    margin: 0.4rem 0;
    outline: 0;
    border: 0;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.2s all ease-in-out;
}

.formmain textarea {
    margin: 0.4rem 0;
    padding: 12px;
    border-radius: 0.7rem;
    outline: 0;
    border: 0;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.2s all ease-in-out;
}

.formmain button {
    background-color: #891835;
    border-radius: 36px;
    backdrop-filter: blur(10px);
    padding: 8px 16px;
    height: 100%;
    outline: 0;
    border: 0;
    transition: 0.2s all ease-in-out;
}

.formmain button:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.mainchatbotContainer {
    margin: 0.1rem 0 ;
    width: 100%;
    min-height: 100%;
    height: auto;
    /* background-color: #891835; */
    padding: 1rem;
    position: relative;
    /* display: flex; */
}

/* chatbot  */
.content {
    /* width: 80vw; */
    /* margin: 10vh 10vw; */
    /* padding: 5vh 5vw; */

    border-radius: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.content p {
    width: fit-content;
    max-width: 94%;
    margin: 2rem 0;
    padding: .5rem;
    border-radius: .5rem;
    display: flex;
}

.content p:nth-of-type(2n) {
    /* background-color: red; */
    text-align: right;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
}
.content p:nth-of-type(2n) .chaticon{
     display: none;
    }
    .content p:nth-of-type(2n+1) {
        /* background-color: blue; */
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    }
    .content p:nth-of-type(2n+1) .chaticon{
        display: block;
        margin-right: 0.4rem;
}

.inpurContainer {
    width: 96%;
    /* margin: 5vh 10vw; */
    padding: 0.5rem;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05); */
    transition: 0.2s all ease-in-out;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    position: absolute;
    bottom: 0;
    /* margin-top: 4rem; */
}

.inpurContainer input {
    padding: 12px;
    width: 100%;
    border-radius: 0.7rem;
    margin: 0.4rem 0;
    outline: 0;
    border: 0;
    padding: 12px 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.2s all ease-in-out;
}

.inpurContainer button {
   padding: 1rem 1.2rem ;
    /* height: 100%; */
    background: #891835;
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    transition: 0.2s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inpurContainer button .icon{
    font-size: 14px;
    margin-left: 5px;
}
.inpurContainer button:hover {
    transform: scale(1.08);
}
 .blogcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    /* background-color: darkblue; */
}

.blogcontainer .blogcard {
    width: 220px;
    min-height: 140px;
    border-radius: 2rem;
    margin: 0.2rem;
    padding: 0.7rem 0.6rem;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}
 .blogcontainer .blogcard h4{
    margin-top: 0.4rem;
}
.blogcontainer .blogcard .imgcontainer {
    width: 100%;
    min-height: 100px;
    border-radius: 1.4rem;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 0.8rem;
}

.blogcontainer .blogcard .imgcontainer img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
 .blogcontainer .blogcard  p{
    font-size: 10px;
}
 .blogcontainer .blogcard  p span{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 2rem;
    padding: 0.1rem 0.4rem;
}
.pomodoromain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
}
.pomodoromain .lottietimer{
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.pomodoromain .lottietimer #timer-animation{
    position: absolute;
    width: fit-content;
    height: fit-content;
}
.pomodoromain .buttonrow{
    display: flex;
    flex-direction: row;
    background-color: red;
}
.pomodoromain .buttonrow button{
    margin: 0.2rem 0.4rem;
}
.pomodoromain  button {
    padding: 1rem 1.2rem ;
     /* height: 100%; */
     background: #891835;
     backdrop-filter: blur(10px);
     border-radius: 2rem;
     border: 1px solid rgba(255, 255, 255, 0.2);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.05);
     transition: 0.2s all ease-in-out;
     display: flex;
     justify-content: center;
     align-items: center;
 }